---
import { render } from "astro:content";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { Icon } from "astro-icon/components";
import PostPreview from "@/components/blog/PostPreview.astro";
import Pagination from "@/components/Paginator.astro";
import { getAllPosts, getTagMeta, getUniqueTags } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();
	const sortedPosts = allPosts.sort(collectionDateSort);
	const uniqueTags = getUniqueTags(sortedPosts);

	return uniqueTags.flatMap((tag) => {
		const postsWithTag = sortedPosts.filter((post) => post.data.tags.includes(tag));
		return paginate(postsWithTag, {
			pageSize: 10,
			params: { tag },
		});
	});
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const { tag } = Astro.params;
const tagMeta = await getTagMeta(tag);

const TagContent = tagMeta ? (await render(tagMeta)).Content : null;

const meta = {
	description: tagMeta?.data.description ?? `View all posts with the tag - ${tag}`,
	title: tagMeta?.data.title ?? `Posts about ${tag}`,
};

// Determine source path: if tag has custom content, link to that; otherwise link to the page template
const sourcePath = tagMeta ? `src/content/tag/${tag}.md` : "src/pages/tags/[tag]/[...page].astro";

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: "← Previous Tags",
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: "Next Tags →",
			url: page.url.next,
		},
	}),
};
---

<PageLayout meta={meta} sourcePath={sourcePath}>
	<nav class="mb-8" aria-label="Breadcrumbs">
		<ul class="flex items-center">
			<li class="flex items-center">
				<a class="text-accent hover:underline hover:decoration-2" href="/tags/">Tags</a>
				<Icon aria-hidden="true" name="fa7-solid:chevron-right" class="mx-1.5 h-3 w-3" />
			</li>
			<li aria-current="page" class=""><span aria-hidden="true">#</span>{tag}</li>
		</ul>
	</nav>
	<h1 class="title capitalize" id="tag-title">{tagMeta?.data.title ?? `Posts about ${tag}`}</h1>
	<section class="prose prose-lg md:prose-xl mb-12 max-w-none" aria-labelledby="tag-description">
		<h2 class="sr-only" id="tag-description">Tag description</h2>
		{tagMeta?.data.description && <p>{tagMeta.data.description}</p>}
		{TagContent && <TagContent />}
	</section>
	<ul class="space-y-4 md:space-y-2">
		{
			page.data.map((p) => (
				<li>
					<PostPreview as="h2" post={p} />
				</li>
			))
		}
	</ul>
	<Pagination {...paginationProps} />
</PageLayout>
