---
import type { EnrichedTweet } from "./api.ts";

interface Props {
	tweet: EnrichedTweet;
}

const { tweet } = Astro.props;
---

<p class="tweet-body" lang={tweet.lang} dir="auto">
	{
		tweet.entities.map((item) => {
			switch (item.type) {
				case "hashtag":
				case "mention":
				case "url":
				case "symbol":
					return (
						<a href={item.href} target="_blank" rel="noopener noreferrer">
							{item.text}
						</a>
					);
				case "media":
					return null;
				default:
					return <span set:html={item.text} />;
			}
		})
	}
	{
		tweet.note_tweet ? (
			<a href={tweet.url} target="_blank" rel="noopener noreferrer">
				<span>&nbsp;</span>
				Show more
			</a>
		) : null
	}
</p>
