---
import type { EnrichedTweet } from "./api.ts";
import TweetLink from "./TweetLink.astro";

interface Props {
	tweet: EnrichedTweet;
}

const { tweet } = Astro.props;

const renderHtmlWithBreaks = (text: string) => text.replaceAll("\n", "<br />");
---

<p class="tweet-body" lang={tweet.lang} dir="auto">
	{
		tweet.entities.map((item) => {
			switch (item.type) {
				case "hashtag":
				case "mention":
				case "url":
				case "symbol":
					return (
						<TweetLink href={item.href}>
							<span set:html={renderHtmlWithBreaks(item.text)} />
						</TweetLink>
					);
				case "media":
					return null;
				default:
					return <span set:html={renderHtmlWithBreaks(item.text)} />;
			}
		})
	}
	{
		tweet.note_tweet ? (
			<TweetLink href={tweet.url}>
				<span>&nbsp;</span>
				Show more
			</TweetLink>
		) : null
	}
</p>
