---
import type { EnrichedTweet } from "./api.ts";
import HighlightedLabel from "./HighlightedLabel.astro";
import VerifiedBadge from "./VerifiedBadge.astro";

interface Props {
	tweet: EnrichedTweet;
}

const { tweet } = Astro.props;
const { user } = tweet;
---

<div class="tweet-header">
	<a href={tweet.url} class="tweet-avatar" target="_blank" rel="noopener noreferrer">
		<div class:list={["tweet-avatar-img", { square: user.profile_image_shape === "Square" }]}>
			<img
				src={user.profile_image_url_https}
				alt={user.name}
				width="48"
				height="48"
				loading="lazy"
			/>
		</div>
		<div class:list={["tweet-avatar-shadow", { square: user.profile_image_shape === "Square" }]}>
		</div>
	</a>
	<div class="tweet-author">
		<a href={tweet.url} class="tweet-author-name" target="_blank" rel="noopener noreferrer">
			<span>{user.name}</span>
			<VerifiedBadge {user} />
			<HighlightedLabel {user} />
		</a>
		<div class="tweet-author-meta">
			<a href={tweet.url} class="tweet-username" target="_blank" rel="noopener noreferrer">
				@{user.screen_name}
			</a>
			<span class="tweet-follow-sep">&middot;</span>
			<a href={user.follow_url} class="tweet-follow" target="_blank" rel="noopener noreferrer">
				Follow
			</a>
		</div>
	</div>
	<a
		href={tweet.url}
		class="tweet-brand"
		target="_blank"
		rel="noopener noreferrer"
		aria-label="View on Twitter"
	>
		<svg viewBox="0 0 24 24" aria-hidden="true">
			<path
				fill="currentColor"
				d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
			></path>
		</svg>
	</a>
</div>
